---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import g1 from "/g1.jpg";
import g2 from "/g2.jpg";
import g3 from "/g3.jpg";
import g4 from "/g4.jpg";
import g5 from "/g5.jpg";
import g6 from "/g6.jpg";


---

<Layout title="Gallery Banger">
  <Header />
  <section class="my-2">

    <div class="text-center text-white py-4">
      <h2 class="text-3xl font-bold">Team Banger</h2>
    </div>

    <div class="px-5">
      <div class="flex">
        <div class="flex flex-wrap lg:w-3/4 mx-auto">
          <div class="w-1/2 p-2 lg:p-12 hover:scale-110 duration-700">
            <img
              class="block object-cover object-center w-full h-full rounded-lg"
              src={g1}
            />
          </div>
          <div class="w-1/2 p-2 lg:p-12 hover:scale-110 duration-700">
            <img
              class="block object-cover object-center w-full h-full rounded-lg"
              src={g2}
            />
          </div>
          <div class="w-1/2 p-2 lg:p-12 hover:scale-110 duration-700">
            <img
              class="block object-cover object-center w-full h-full rounded-lg"
              src={g3}
            />
          </div>
          <div class="w-1/2 p-2 lg:p-12 hover:scale-110 duration-700">
            <img
              class="block object-cover object-center w-full h-full rounded-lg"
              src={g4}
            />
          </div>
          <div class="w-1/2 p-2 lg:p-12 hover:scale-110 duration-700">
            <img
              class="block object-cover object-center w-full h-full rounded-lg"
              src={g5}
            />
          </div>
          <div class="w-1/2 p-2 lg:p-12 hover:scale-110 duration-700">
            <img
              class="block object-cover object-center w-full h-full rounded-lg"
              src={g6}
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
